*{
    margin: 0;
    padding: 0;
}
header{
    background: burlywood;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
header img{
    width: 100px;
    margin-left: 46px;
    margin-top: 1%;
    border-radius: 100%;
    margin-left: 45%;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
section{
    width: 70%;
    margin: auto;
}
article{
    padding: 20px 0 20px 0;
    border-bottom: 1px dotted darkgrey;
}
article h2{
    float: left;
    border-bottom: 2px solid brown;
    padding-bottom: 5px;
    line-height: 1.3em;
    font-size: 1em;
    text-transform: uppercase;
}
article{
    margin-left: 20%;
}
article p{
    margin-left: 20%;
}
article p, article ul{
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
    line-height: 1.3em;
    margin-bottom: 1.5em;
}
article ul li{
    margin-left: 15px;
    list-style: square;
}
footer{
    margin-top: 2em;
    padding: 1em;
    width: 100%;
    background: darkgrey;
    color: white;
    text-align: center;
}
footer a:link, footer a:visited{
    color: white;
}
footer a:hover{
    text-decoration: underline;
    color: blue;
}